.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.form_box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 0 15px 10px #00000010;
  padding: 32px;
}

.form_box .title {
  padding: 24px 32px;
  font-size: 32px;
  align-self: center;
}

.form_box label {
  font-size: 24px;
  color: #000;
  align-self: flex-start;
}

.form_box form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_box input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 24px;
}

.form_box button {
  font-size: 24px;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form_box button:hover {
  background-color: #2b1f36;
}
